@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --light-grey1: #e7ebee;
}




.circle{
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-color: red;
}

.container-ref{
  display: flex;
}

.square{
  width: 500px;
  height: 500px;
  background-color: orange;
}